<nb-select fullWidth class="mt-3" placeholder="Fahrer auswählen" [(selected)]="data.selectedFuel.driver">
    <nb-option *ngFor="let driver of data.drivers; index as i" [value]="driver">
        {{driver.firstname}} {{driver.lastname}}
    </nb-option>
</nb-select>

<input type="text" [(ngModel)]="data.selectedFuel.price" nbInput placeholder="Preis" fullWidth  status="basic" class="mt-3">
<input type="text" [(ngModel)]="data.selectedFuel.date"  [nbDatepicker]="dateTimePicker" nbInput placeholder="Datum" fullWidth  status="basic" class="mt-3">
<nb-datepicker #dateTimePicker></nb-datepicker>

<button (click)="insertFuel()" class="mt-4" nbButton>
    <nb-action class="mr-2" icon="checkmark-square-outline"></nb-action>
    Tankung eintragen</button>