<nb-layout>
  <nb-layout-header fixed>
      <div class="header-container">
        <button nbButton (click)="toggleDriverView()"><nb-action class="control-item" icon="person-outline"></nb-action></button>
      </div>
      <div class="header-container ml-4">
        <button nbButton (click)="openSettlementView()"><nb-action class="control-item" icon="award-outline"></nb-action></button>
      </div>

      <div class="headline" style="display: flex;">
        <img src="../assets/Ford_logo_flat.svg.png" style="width: 130px; height: 55px; margin-top: -10px;" alt="">
        
      </div>

      <div class="header-container">
        <button nbButton (click)="toggleFuelView()"><nb-action class="control-item" icon="shopping-cart-outline"></nb-action></button>
      </div>
  </nb-layout-header>

  <nb-sidebar [@slideInOut]="driverViewState">
    <h4>Fahrer</h4>  
    <div *ngFor="let driver of data.drivers; index as i">
      <nb-user class="mt-4" name="{{driver.firstname}} {{driver.lastname}}" title="{{driver.km}} km"></nb-user>
      <nb-icon style="cursor: pointer;" (click)="openDriverUpdateWindow(driver)" class="edit-person control-item"  icon="info-outline"></nb-icon> 
    </div>

    <button (click)="openNewDriverWindow()" class="mt-4" nbButton>
      <nb-action class="mr-2" icon="person-add-outline"></nb-action>
      Fahrer hinzufügen</button>
  </nb-sidebar>

  <nb-sidebar [@slideInOut]="fuelViewState" right>
    <h4>Tanken</h4>  
    <nb-card *ngFor="let fuel of data.fuels; index as i">
      <nb-card-body>
        <h6>{{fuel.driver.firstname}} {{fuel.driver.lastname}}</h6>
        {{fuel.date | date: 'dd.MM.yyyy'}} 
        <br>
        {{fuel.price |currency:'EUR':true}} 
      <nb-icon style="cursor: pointer;" (click)="deleteFuel(i, fuel.id)" class="trash-ressource"  icon="trash-2-outline"></nb-icon> 
      <nb-icon style="cursor: pointer;" (click)="openFuelUpdateWindow(fuel)" class="edit-ressource"  icon="edit-outline"></nb-icon> 
      </nb-card-body>
    </nb-card>

    <button (click)="openNewFuelWindow()" class="mt-4" nbButton>
    <nb-action class="mr-2" icon="plus-outline"></nb-action>
    Neue Getankt</button>

    <h4 class="mt-5">Werkstatt</h4>  
    <nb-card *ngFor="let repair of data.repair; index as i">
      <nb-card-body>
        <h6>{{repair.driver.firstname}} {{repair.driver.lastname}}</h6>
        {{repair.date | date: 'dd.MM.yyyy'}} 
        <br>
        {{repair.price |currency:'EUR':true}} 
      <nb-icon style="cursor: pointer;" (click)="deleteRepair(i, repair.id)" class="trash-ressource"  icon="trash-2-outline"></nb-icon> 
      <nb-icon style="cursor: pointer;" (click)="openRepairUpdateWindow(repair)" class="edit-ressource"  icon="edit-outline"></nb-icon> 
      </nb-card-body>
    </nb-card>

    <button (click)="openNewRepairWindow()" class="mt-4" nbButton>
    <nb-action class="mr-2" icon="plus-outline"></nb-action>
    Neuer Eintrag</button>

  </nb-sidebar> 

  <nb-layout-column> 
    <button (click)="openNewRideWindow()" nbButton status="success">
      <nb-action class="mr-2" style="color: white !important;" icon="file-add-outline"></nb-action>
      Neue Fahrt eintragen
    </button>

    <div class="mt-5" *ngFor="let ride of data.ride, let i=index">
      <app-ride-detail [ride]="ride" [index]="i"></app-ride-detail>
    </div>

  </nb-layout-column>
</nb-layout>

