<nb-select fullWidth class="mt-3" placeholder="Fahrer auswählen" [(selected)]="data.currentUpdateRide.driver">
    <nb-option *ngFor="let driver of data.drivers; index as i" [value]="driver">
        {{driver.firstname}} {{driver.lastname}}
    </nb-option>
</nb-select>

<input type="text" [(ngModel)]="data.currentUpdateRide.km" nbInput placeholder="Kilometer" fullWidth  status="basic" class="mt-3">
<input type="text" [(ngModel)]="data.currentUpdateRide.date"  [nbDatepicker]="dateTimePicker" nbInput placeholder="Datum" fullWidth  status="basic" class="mt-3">
<nb-datepicker #dateTimePicker></nb-datepicker>
<input type="text" [(ngModel)]="data.currentUpdateRide.description" nbInput placeholder="Fahrtstrecke" fullWidth  status="basic" class="mt-3">

<button (click)="updateRide()" class="mt-4" nbButton>
    <nb-action class="mr-2" icon="checkmark-square-outline"></nb-action>
    Fahrt aktualisieren</button>